.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 500px;
  position: relative;
}

.title {
  font-size: 27px;
  color: #777;
  text-align: center;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

.search {
  position: relative;
  margin-top: 2px;
  height: 33px;
}

.search-filed {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1em;
  padding: 3px 5px 3px 10px;
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a1a1a1;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #eee inset;
          box-shadow: 0 1px 2px #eee inset;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-filed:hover {
  border-color: #999;
  -webkit-box-shadow: 0 1px 2px #ccc inset;
          box-shadow: 0 1px 2px #ccc inset;
}

.search-filed:focus {
  border-color: #b094aa;
  -webkit-box-shadow: 0 1px 2px #b094aa inset;
          box-shadow: 0 1px 2px #b094aa inset;
  outline: none;
  outline-color: initial;
  outline-width: initial;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 26px;
  height: 26px;
  margin-top: 4px;
  border: none;
  background: url("/img/search.png") no-repeat center;
  z-index: 6;
  outline: none;
  cursor: pointer;
}

.search-clear {
  position: absolute;
  right: 35px;
  width: 26px;
  height: 26px;
  margin-top: 4px;
  border: none;
  background: url("/img/clear.png") no-repeat center;
  z-index: 6;
  outline: none;
  cursor: pointer;
}

.search .search-icon:hover,
.search .search-clear:hover {
  opacity: 0.7;
}

.info {
  color: #555;
  position: relative;
  height: 40px;
  margin-bottom: 0.2em;
  border-bottom: 1px solid #c9c9c9;
}

.info h1 {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 0;
  font-size: 1.1em;
  left: 0;
}

.info span {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 0;
  font-size: 0.8em;
  right: 0;
  text-align: right;
}

.add {
  margin-top: 10px;
}

.add-icon {
  width: 26px;
  height: 26px;
  border: none;
  background: url("/img/add.png") no-repeat center;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.add-icon:hover {
  opacity: .6;
}

.add .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}

.add .popup .content {
  width: 500px;
  height: 350px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: 10px;
}

.add .popup .content .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  border: none;
  background: url("/img/clear.png") no-repeat center;
  cursor: pointer;
  outline: none;
}

.add .popup .content .close:hover {
  opacity: .6;
}

.add .popup .content .title {
  margin-top: 50px;
}

.add .popup .content .form-group {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.add .popup .content .form-group .input-group {
  margin-top: 15px;
}

.add .popup .content .form-group .input-group span {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.add .popup .content .form-group .input-group input {
  display: inline-block;
  width: 75%;
  height: 30px;
  border-radius: 5px;
  padding: 3px 5px 3px 10px;
  border: 1px solid #b9b9b9;
}

.add .popup .content .form-group .input-group input:hover {
  border-color: #999;
  -webkit-box-shadow: 0 1px 2px #ccc inset;
          box-shadow: 0 1px 2px #ccc inset;
}

.add .popup .content .form-group .input-group input:focus {
  border-color: #b094aa;
  -webkit-box-shadow: 0 1px 2px #b094aa inset;
          box-shadow: 0 1px 2px #b094aa inset;
  outline: none;
  outline-color: initial;
  outline-width: initial;
}

.add .popup .content .form-group .input-group input[type=submit] {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: #777;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 20px;
  color: #fff;
  left: 30%;
  cursor: pointer;
}

.add .popup .content .form-group .input-group input[type=submit]:hover {
  background-color: #776;
}

.add .popup .content .form-group .input-group input[type=submit]:active {
  opacity: .8;
}

.contacts {
  margin-top: 10px;
}

.contacts .contact {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  border: none;
  border-bottom: 1px solid #b094aa;
}

.contacts .contact:hover {
  border: 1px solid #b094aa;
  border-radius: 3px;
}

.contacts .contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.contacts .contact-name input {
  text-decoration: none;
  font-weight: bold;
  color: #6f244f;
  font-size: 18px;
  background: transparent;
  border: 1px solid #b094aa;
  padding: 5px;
}

.contacts .contact-name input:disabled {
  border: none;
}

.contacts .contact-edit,
.contacts .contact-delete {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 26px;
  height: 26px;
  outline: none;
  cursor: pointer;
}

.contacts .contact-edit:hover,
.contacts .contact-delete:hover {
  opacity: .6;
}

.contacts .contact-edit {
  background: url("/img/pencil.png") no-repeat center;
  right: 20px;
}

.contacts .contact-edit.done {
  background: url("/img/done.svg") no-repeat center;
}

.contacts .contact-delete {
  background: url("/img/clear.png") no-repeat center;
}

.contacts .contact-email {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  width: 40%;
}

.contacts .contact-email input {
  background: transparent;
  border: 1px solid #b094aa;
  width: 85%;
  padding: 5px;
}

.contacts .contact-email input:disabled {
  border: none;
}

.contacts .contact-email:before {
  content: url("/img/email.png");
  margin-left: 5px;
  margin-right: 7px;
}

.contacts .contact-phone {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

.contacts .contact-phone input {
  background: transparent;
  border: 1px solid #b094aa;
  padding: 5px;
}

.contacts .contact-phone input:disabled {
  border: none;
}

.contacts .contact-phone:before {
  content: url("/img/phone.png");
  margin-left: 5px;
  margin-right: 7px;
}

.contacts .contact-email:hover,
.contacts .contact-phone:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pagination {
  padding: 10px 0;
  position: absolute;
  bottom: -80px;
}

.pagination * {
  display: inline-block;
  font-size: 18px;
  padding: 0 7px;
}

.pagination > div {
  padding: 0 7px;
}

.pagination > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pagination ul {
  list-style: none;
  padding: 0 20px;
}

.pagination ul li {
  cursor: pointer;
}

.pagination ul li:hover {
  text-decoration: underline;
}

.pagination ul li.active {
  color: #6f244f;
  cursor: default;
  font-size: 20px;
  text-decoration: none;
}

